//TODO - media queries 


@font-face {
  font-family: SegoeUI;
  src: url(../assets/font/SegoeUI.ttf);
}

div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body { 
   background: #191919;
  }

  .aurora_container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -20;
  }
  
  .aurora_background {
    background: linear-gradient(233deg, #00ff05, #00ffd0, #00ff32, #00ffe6);
    background-size: 800% 800%;
    height: 100%;
    width: 100%;
    opacity: 100%;
    animation: aurora_animation 29s ease infinite;

    @keyframes aurora_animation {
        0%{background-position:92% 0%}
        50%{background-position:9% 100%}
        100%{background-position:92% 0%}
    }
  }

 img.footer { 
    width: 100vw;
    padding-left: 0%;
    position: absolute;
    left: 0%;
    bottom: 40%;
    z-index: -10;
  }

  .footer_block{ 
    width: 100vw;
    height: 40%;
    padding-left: 0%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    background: black;
    z-index: -10;
  }

  .header_container {
    position: absolute;
    bottom: 25%;
    z-index: 20;
  }

  h1{
    font-size: 40px;
  }
  h1, h2, h3{
    color: rgb(255, 255, 255);
    padding-left: 30px;
    z-index: inherit;
  }